<!DOCTYPE html>
<html lang="en">
    <!--<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hungry Go There!</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/hungrygothere.css" rel="stylesheet">
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
    </head> -->

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hungry Go There!</title>
        <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
        <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/hungrygothere.css" rel="stylesheet">
        <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
        <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script type="text/javascript" src="scripts/hgt_ui.js"></script>
        <script type="text/javascript" src="scripts/hgt_main.js"></script>
    </head>

    <body onload="hgtui.reset_fields(); hgt.findCurrentLocation();">    
        <div id="wholething">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        
                        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </a>
                         
                        <!-- Be sure to leave the brand out there if you want it shown -->
                        <a class="brand" href="">Hungry Go <u>T</u>here!</a>
                         
                        <!-- Everything you want hidden at 940px or less, place within here -->
                        <div class="nav-collapse collapse">
                            <!-- .nav, .navbar-search, .navbar-form, etc -->
                            <ul class="nav">
                                <li><a onclick="hgtui.showPage1();" href="#">Home</a></li>
                                <li><a onclick="hgtui.showWhereCanEat();" href="#">Where Can Eat?</a></li>
                                <li><a onclick="hgtui.showHalfwayEatWhere();" href="#">Halfway Eat Where?</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--start Page1 area -->
            <div class="container" id="page1">
                <div class="row">
                    <div class="span6 offset3">
                        <div align="center">
                            <h1 class="title1">Hungry Go <u>T</u>here!</h1>
                            <div class="placeholder"></div>
                            <button class="btn btn-xlarge btn-warning fillparent" onclick="hgtui.showWhereCanEat();">Where Can Eat?</button>
                            <div class="placeholder"></div>
                            <button class="btn btn-xlarge btn-warning fillparent" onclick="hgtui.showHalfwayEatWhere();">Halfway Eat Where?</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Page1 area -->

            <!--End Where Can Eat area -->
            <div class="container" id="wherecaneat">
                <div class="row">
                    <div class="span6 offset3">
                        <div align="center">
                            <label><h1 class="title1">Where Are You?</h1></label>
                            <input type="hidden" name="status" id="status" value="" />
                            <input type="text" class="fillparent" id="currlocation" placeholder="Enter your start location!">
                            <button type="button" onclick="hgtui.update_currlocation();" class="btn btn-warning btn-small" data-toggle="button">Use My Current Location</button>
                            <!--div class="placeholder"></div--><br /><br />
                            <label><h1 class="title1">How You Go?</h1></label>
                            <div class="btn-group" data-toggle="buttons-radio">
                                <button type="button" class="btn btn-warning btn-small" onclick="hgtui.setDrive();" id="Drive"><span class="biggerfont">Drive</span></button>
                                <button type="button" class="btn btn-warning btn-small" onclick="hgtui.setBus();" id="Bus"><span class="biggerfont">Bus</span></button>
                                <button type="button" class="btn btn-warning btn-small" onclick="hgtui.setWalk();" id="Walk"><span class="biggerfont">Walk</span></button>
                            </div><br /><br />
                            <button class="btn btn-large fillparent" onclick="hgtui.collect_wherecaneat_info();">Tell Me Where Can Eat!</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Where Can Eat area -->


            <!--Start Halfway Eat Where area -->
            <div class="container" id="halfwayeatwhere">
                <div class="row">
                    <div class="span6 offset3">
                        <div align="center">
                            <label><h1 class="title1">Where Are You?</h1></label>
                            <input type="text" class="fillparent" id="currlocation1" placeholder="Enter your start location!">
                            <button type="button" onclick="hgtui.update_currlocation1();" class="btn btn-warning btn-small" data-toggle="button">Use My Current Location</button>
                            <div class="placeholder"></div>
                            <label><h1 class="title1">Where To?</h1></label>
                            <input type="text" class="fillparent" id="destination" placeholder="Enter your destination!"><br /><br />
                            <button class="btn btn-large fillparent" onclick="hgtui.collect_halfwayeatwhere_info();">Tell Me Halfway Eat Where!</button>
                        </div>

                    </div>
                </div>
            </div>
            <!--End Halfway Eat Where area -->
        </div>

        <div id="maplistarea">
            <!--start map area -->
            <div id="mapview">
                <div class="container">
                    <div class="placeholder2"></div>
                    <div id="map-canvas"></div>
                    <div id="buttonsonmap" class align="center">
                        <div class="container">
                            <button class="btn btn-warning mininav mininavleft" onclick="hgtui.off_maps();">Back!</button>
                            <button class="btn btn-warning mininav mininavright" onclick="hgtui.toggle_list();">List View</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end map area -->

            <!--start listview -->
            <div id="listview">
                <div class="container">
                    <!--div class="placeholder"></div-->
                    <table id="list-canvas" align="center"></table>
                    <div id="buttonsonlist" class align="center">
                        <div class="container">
                            <button class="btn btn-warning mininav mininavleft" onclick="hgtui.off_list();">Back!</button>
                            <button class="btn btn-warning mininav mininavright" onclick="hgtui.toggle_map();">Map View</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end listview -->
        </div>


        <!--start list for multiple results (geolist)-->
        <div  id="geolist">
            <div class="container">
                <!--<div class="placeholder"></div>-->
                <div align="center"><h1 class="title1">Did you mean...</h1></div>
                <table id="geolist-canvas" align="center"></table>
                <div id="buttonsongeolist" class align="center">
                    <div class="container">
                        <button class="btn btn-warning mininav mininavleft" onclick="hgtui.geolist_cancel();">Cancel</button>
                        <!--<button class="btn btn-warning mininav mininavright" onclick="hgtui.toggle_map();"></button>-->
                    </div>
                </div>
            </div>
        </div>
        <!--end listview for multiple results (geo_listview)-->


        <!--start Restaurant Details Page-->
        <div  id="restdetails">
            <div class="container">
                <div class="placeholder"></div>
                <table id="rest-details-canvas" align="center"></table>
                <div id="buttonsonrestdetails" class align="center">
                    <div class="container">
                        <button class="btn btn-warning mininav mininavleft" onclick="hgtui.offrestdetails();">Back!</button>
                        <!--<button class="btn btn-warning mininav mininavright" onclick="hgtui.toggle_map();"></button>-->
                    </div>
                </div>
            </div>
        </div>
        <!--end Restaurant Details Page-->

        <!--start error/alert/overlay box-->
        <!--css is hackish. shld go into the .css file. plus we could change the colours a bit -->
        <div id="overlay_background" style="display: none; background: black; opacity:0.5; width: 100%; height: 100%; z-index: 1000000000; position: absolute; left: 0px; top: 0px">
            <!-- empty because you dont want the elements inside to have opacity=0.5 too -->
        </div>
        <!-- we use a table with a single cell instead of div because vertical-align doesn't work with DIV -->
        <table id="overlay_items" style="display: none; border: none; height: 100%; width: 100%; z-index:1000000001; position: absolute; left: 0px; top: 0px">
            <tr><td style="text-align: center; vertical-align: middle">
                <div id="overlay_content" style="padding: 20px; background: #222222">Loading</div>
            </td></tr>
        <table>
        <!--end error/alert/overlay box-->

    </body>
</html>
