<!DOCTYPE html>
<html lang="en">
    <!--<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hungry Go There!</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/hungrygothere.css" rel="stylesheet">
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
    </head> -->

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hungry Go There!</title>
        <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
        <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/hungrygothere.css" rel="stylesheet">
        <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
        <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script type="text/javascript" src="scripts/hgt_ui.js"></script>
        <script type="text/javascript" src="scripts/hgt_main.js"></script>
    </head>

    <body onload="reset_fields();hgt.findCurrentLocation();">    
        <div id="wholething">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        
                        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </a>
                         
                        <!-- Be sure to leave the brand out there if you want it shown -->
                        <a class="brand" href="">Hungry Go <u>T</u>here!</a>
                         
                        <!-- Everything you want hidden at 940px or less, place within here -->
                        <div class="nav-collapse collapse">
                            <!-- .nav, .navbar-search, .navbar-form, etc -->
                            <ul class="nav">
                                <li><a onclick="showPage1();">Home</a></li>
                                <li><a onclick="showWhereCanEat();">Where Can Eat?</a></li>
                                <li><a onclick="showHalfwayEatWhere();">Halfway Eat Where?</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--start Page1 area -->
            <div class="container" id="page1">
                <div class="row">
                    <div class="span6 offset3">
                        <div align="center">
                            <h1 class="title1">Hungry Go <u>T</u>here!</h1>
                            <div class="placeholder"></div>
                            <button class="btn btn-xlarge btn-warning fillparent" onclick="showWhereCanEat();">Where Can Eat?</button>
                            <div class="placeholder"></div>
                            <button class="btn btn-xlarge btn-warning fillparent" onclick="showHalfwayEatWhere();">Halfway Eat Where?</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Page1 area -->

            <!--End Where Can Eat area -->
            <div class="container" id="wherecaneat">
                <div class="row">
                    <div class="span6 offset3">
                        <div align="center">
                            <label><h1 class="title1">Where Are You?</h1></label>
                            <input type="hidden" name="status" id="status" value="" />
                            <input type="text" class="fillparent" id="currlocation" placeholder="Enter your start location!">
                            <button type="button" onclick="update_currlocation();" class="btn btn-warning btn-small" data-toggle="button">Use My Current Location</button>
                            <!--div class="placeholder"></div--><br /><br />
                            <label><h1 class="title1">How You Go?</h1></label>
                            <div class="btn-group" data-toggle="buttons-radio">
                                <button type="button" class="btn btn-warning btn-small" onclick="drive();" id="Drive"><span class="biggerfont">Drive</span></button>
                                <button type="button" class="btn btn-warning btn-small" onclick="bus();" id="Bus"><span class="biggerfont">Bus</span></button>
                                <button type="button" class="btn btn-warning btn-small" onclick="walk();" id="Walk"><span class="biggerfont">Walk</span></button>
                            </div><br /><br />
                            <button class="btn btn-large fillparent" onclick="hgtui.collect_wherecaneat_info();">Tell Me Where Can Eat!</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Where Can Eat area -->


            <!--Start Halfway Eat Where area -->
            <div class="container" id="halfwayeatwhere">
                <div class="row">
                    <div class="span6 offset3">
                        <div align="center">
                            <label><h1 class="title1">Where Are You?</h1></label>
                            <input type="text" class="fillparent" id="currlocation1" placeholder="Enter your start location!">
                            <button type="button" onclick="update_currlocation();" class="btn btn-warning btn-small" data-toggle="button">Use My Current Location</button>
                            <div class="placeholder"></div>
                            <label><h1 class="title1">Where To?</h1></label>
                            <input type="text" class="fillparent" id="destination" placeholder="Enter your destination!"><br /><br />
                            <button class="btn btn-large fillparent" onclick="collect_form2_info();">Tell Me Where Can Eat!</button>
                        </div>

                    </div>
                </div>
            </div>
            <!--End Halfway Eat Where area -->
        </div>

        <!--start map area -->
        <div id="mapview">
            <div class="container">
                <div class="placeholder2"></div>
                <div id="map-canvas"></div>
                <div id="buttonsonmap" class align="center">
                    <div class="container">
                        <button class="btn btn-warning mininav mininavleft" onclick="off_maps();">Back!</button>
                        <button class="btn btn-warning mininav mininavright" onclick="off_maps();">List View</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end map area -->

    </body>
</html>
